@use "manon";

// Start Manon Theme
@use "@minvws/manon-themes/basic-bold" with (
 $font-path: "@minvws/manon-themes/basic-bold/fonts"
);
// End Manon Theme

@use "styling/breadcrumb-bar";
@use "components/external-login";
@use "components/error";
